:root {
    --custom-color-header: #2B3643;
    --custom-color-header-border: #3b444f;

    --custom-color-sidenav: #364150;
    --custom-color-sidenav-text: #a7bbd2;
    --custom-color-sidenav-active: #36C6D3;
}