:root {
    --custom-color-header: #2B3643;
    --custom-color-header-text: #e8e9ea;
    --custom-color-header-border: #3b444f;
    --custom-color-sub-header-text: #a3a4a7;
    --custom-color-sub-header-border: #e8e9ea;
    
    --custom-color-sidenav: #364150;
    --custom-color-sidenav-border: #4c5665;
    --custom-color-sidenav-text: #a7bbd2;
    --custom-color-sidenav-active: #36C6D3;
    
    --custom-color-footer: var(--custom-color-sidenav);
    --custom-color-footer-text: var(--custom-color-sidenav-text);

    --custom-color-btn-primary: #f5b62d;
    --custom-color-btn-secondary: #ED6B75;

    --custom-color-content-header: #8E44AD;
}