$header-height: 7vh;
$footer-height: 4vh;
$content-height: 100vh - $header-height - $footer-height;
$sidenav-drawer-content-width: 14vw;
$sidenav-drawer-content-width-mobile: 50vw;
$sidenav-content-width: 100vw 
