<div class="login-form-container">
    <form [formGroup]="form" (submit)="submit()">
        <div class="form-field-container">
            <mat-form-field class="form-field">
                <mat-label>Seu nome completo</mat-label>
                <input matInput formControlName="name" type="text"/>
                
                <mat-icon matSuffix>account_circle</mat-icon>
                
                @if (form.controls.name.hasError('required')) {
                    <mat-error>Campo obrigatório</mat-error>
                }
            </mat-form-field>
            
            <mat-form-field class="form-field">
                <mat-label>Seu email</mat-label>
                <input matInput formControlName="email" type="text"/>
                
                <mat-icon matSuffix>email</mat-icon>
                
                @if (form.controls.email.hasError('required')) {
                    <mat-error>Campo obrigatório</mat-error>
                }

                @if (form.controls.email.hasError('email') && form.controls.email.touched) {
                    <mat-error>E-mail inválido</mat-error>
                }
            </mat-form-field>
            
            <mat-form-field class="form-field">
                <mat-label>Digite a senha desejada</mat-label>
                <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'"/>
                
                <button matIconButton matSuffix (click)="clickEvent($event)">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                
                @if (form.controls.password.hasError('required')) {
                    <mat-error>Campo obrigatório</mat-error>
                }
            </mat-form-field>
            
            <mat-form-field class="form-field">
                <mat-label>Digite a senha novamente</mat-label>
                <input matInput formControlName="passwordConfirm" [type]="hide() ? 'password' : 'text'"/>
                
                <button matIconButton matSuffix (click)="clickEvent($event)">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                
                @if (form.controls.passwordConfirm.hasError('required')) {
                    <mat-error>Campo obrigatório</mat-error>
                }
            </mat-form-field>
        </div>
    </form>
</div>