@use '../../../../../styles/_variable.scss' as variables;

.sidenav {
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.sidenav-container {
  height: variables.$content-height;
}

.mat-drawer {
  border-radius: 0%;
}