@use '../variable' as variables;

.container {
    display: block;
    flex-direction: column;
    height: variables.$content-height - 10vh;

    .container-content {
        margin: 16px;
        min-height: 100%;
        border: 1px solid var(--custom-color-content-header);

        mat-toolbar {
            background: var(--custom-color-content-header);
            color: var(--custom-color-header-text);
        }
    }
}