@use '../variable' as variables;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: variables.$content-height;

    .container-content {
        width: 100%;
        max-width: variables.$content-width;
        padding-top: 24px;
    }
}