@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.progress-bar-overrides((
    active-indicator-color: var(--custom-color-btn-tertiary),
    track-color: var(),
  ));
}