@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.select-overrides((
    panel-background-color: var(--custom-color-sidenav-border),
    // enabled-trigger-text-color: var(--custom-color-btn-tertiary),
    enabled-arrow-color: var(--custom-color-content-header),
  ));
}