@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.sidenav-overrides((
    container-background-color: var(--custom-color-sidenav),
    container-text-color: var(--custom-color-sidenav-text)
  ));
}