@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {

    .snak-bar-success-feedback {
        @include mat.snack-bar-overrides((
            button-color: var(--custom-color-default-text-color),
            container-color: var(--custom-color-btn-tertiary),
        ));
    }
    .snak-bar-error-feedback {
        @include mat.snack-bar-overrides((
        button-color: var(--custom-color-default-text-color),
        container-color: var(--custom-color-btn-secondary),
        ));
    }
    .snak-bar-warning-feedback {
        @include mat.snack-bar-overrides((
        button-color: var(--custom-color-default-text-color),
        container-color: var( --custom-color-btn-primary),
        ));
    }

}