@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.toolbar-overrides((
    container-background-color: var(--custom-color-header),
    container-text-color: var(--custom-color-header-text),

  ));
}