.save-btn-content {
    display: flex;
    align-items: center;
    
    .save-btn {
        border-radius: 2px;
        background: var(--custom-color-btn-tertiary);
        color: var(--custom-color-default-text-color);
    }
}

.endereco-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    mat-expansion-panel {
        border-radius: 0;
    }
}

.session-title {
    font-size: large;
    font-weight: 400;
    color: var(--custom-color-content-header);
    margin: 8px 0;
}