<form [formGroup]="form">

    <div class="save-btn-content">
        <button matButton="elevated" class="save-btn-primary" (click)="update()" [disabled]="this.edit() && form.invalid">
            {{ edit() ? 'Salvar' : 'Editar' }}
            <mat-icon class="material-icons-outlined">{{ edit() ? 'add' : 'edit' }}</mat-icon>
        </button>
    </div>
    
     <estudo-separator>
        <span class="session-title" >Dados Pessoais</span>
     </estudo-separator>

    <div class="form-grid">
        <mat-form-field class="col-6" appearance="outline">
            <mat-label>Nome</mat-label>
            <input
            matInput
            formControlName="name"
            required
        />
        
        @if (form.controls.name.hasError('required') && form.controls.name.touched) {
            <mat-error>Campo obrigatório</mat-error>
        }
        @if (form.controls.name.hasError('minlength')) {
            <mat-error>Mínimo de 3 caracteres</mat-error>
        }
        @if (form.controls.name.hasError('maxlength')) {
            <mat-error>Máximo de 150 caracteres</mat-error>
        }
        </mat-form-field>
        <mat-form-field class="col-6" appearance="outline">
            <mat-label>Nome da Mãe</mat-label>
            <input
            matInput
            formControlName="mathersName"
            required
        />
        
        @if (form.controls.mathersName.hasError('required') && form.controls.mathersName.touched) {
            <mat-error>Campo obrigatório</mat-error>
        }
        @if (form.controls.mathersName.hasError('minlength')) {
            <mat-error>Mínimo de 3 caracteres</mat-error>
        }
        @if (form.controls.mathersName.hasError('maxlength')) {
            <mat-error>Máximo de 150 caracteres</mat-error>
        }
        </mat-form-field>
        <mat-form-field class="col-3" appearance="outline">
            <mat-label>Escolha um gênero</mat-label>
            <mat-select formControlName="gender">
                @for (gender of genderList; track gender) {
                    <mat-option [value]="gender">{{gender}}</mat-option>
                }
            </mat-select>
            
            @if (form.controls.gender.hasError('required')) {
                <mat-error>Campo obrigatório</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="col-3" appearance="outline">
            <mat-label>Telefone</mat-label>
            <input
            matInput
            formControlName="phoneNumber"
            required
        />
        
        @if (form.controls.phoneNumber.hasError('required') && form.controls.phoneNumber.touched) {
            <mat-error>Campo obrigatório</mat-error>
        }
        </mat-form-field>

        <mat-form-field class="col-3" appearance="outline">
            <mat-label>CPF</mat-label>
            <input
            matInput
            formControlName="cpf"
            required
        />
        
        @if (form.controls.cpf.hasError('required') && form.controls.cpf.touched) {
            <mat-error>Campo obrigatório</mat-error>
        }
        </mat-form-field>

        <mat-form-field class="col-3" appearance="outline">
            <mat-label>RG</mat-label>
            <input
            matInput
            formControlName="rg"
            required
        />
        
        @if (form.controls.rg.hasError('required') && form.controls.rg.touched) {
            <mat-error>Campo obrigatório</mat-error>
        }
        </mat-form-field>
    </div>

     <estudo-separator>
        <span class="session-title">Endereços</span>
    </estudo-separator>
    
    <div formArrayName="enderecos" class="endereco-content">
        @for (aula of enderecosGet().controls ; track aula; let i = $index) {
            <estudo-endereco-expansion-panel [index]="i">
                <p>Dados do endereço</p>
                
                <div [formGroupName]="i" class="form-grid">
                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>cep</mat-label>
                        <input
                        matInput
                        formControlName="cep"
                        required/>
                    </mat-form-field>

                    <mat-form-field class="col-4" appearance="outline">
                        <mat-label>Logradouro</mat-label>
                        <input
                        matInput
                        formControlName="logradouro"
                        required/>
                    </mat-form-field>

                    <mat-form-field class="col-4" appearance="outline">
                        <mat-label>Bairro</mat-label>
                        <input
                        matInput
                        formControlName="bairro"
                        required/>
                    </mat-form-field>

                    <mat-form-field class="col-3" appearance="outline">
                        <mat-label>Número</mat-label>
                        <input
                        matInput
                        formControlName="numero"
                        required/>
                    </mat-form-field>
                    <mat-form-field class="col-6" appearance="outline">
                        <mat-label>Complemento</mat-label>
                        <input
                        matInput
                        formControlName="complemento"
                        required/>
                    </mat-form-field>
                </div>
            </estudo-endereco-expansion-panel> 
        }
    </div>
</form>