// .save-btn-content {
//     display: flex;
//     align-items: center;

//     .save-btn-primary {
//         border-radius: 2px;
//     }
// }

.endereco-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    mat-expansion-panel {
        border-radius: 0;
    }
}