.save-btn-content {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    
    .save-btn {
        border-radius: 2px;
        background: var(--custom-color-btn-tertiary);
        color: var(--custom-color-default-text-color);
    }
}