.indicador-card {
  height: 100px;
  width: 230px;
  // background: rgba(153, 102, 255, 0.2);
}

.mat-mdc-card-header {
  display: flex;
  padding: 0;
}

.mat-mdc-card-content {
  padding: 0;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-card-title {
    color: var(--custom-color-content-header);
  }

  .mat-mdc-card-header {
    display: flex;
    padding: 0;
  }
}

mat-card {
  padding: 4px;
  gap: 4px;
}

mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
  }

}

.indicador-card {
  // border-bottom: 3px solid #FF4069;
  border-radius: 6px;
}

mat-card-footer {
  color: rgb(73, 208, 73);
}
//#FFC234
//#059BFF