<mat-card class="indicador-card" appearance="outlined" [style.border-bottom]=" '3px solid ' + categoryColor()">
  <mat-card-header>
    <mat-card-title>{{category()}}</mat-card-title>
    <button class="" matIconButton>
      <mat-icon>settings_24</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p [style.color]="categoryColor()">{{indicardorCount()}}</p>
  </mat-card-content>
  <!-- <mat-card-footer>
    Quantodade de cursos por categoria
  </mat-card-footer> -->
</mat-card>