@use '../../../../styles/mixins/media-query' as mq;

main {
  display: flex;
  flex-direction: row;
  height: 100vh;


  .page-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .img-logo-content {
      height: 35vh;

      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100px;
      }
    }

    .router-container {
      height: 75vh;
    }
  }

  .img-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    width: 0;

    transition: flex 0.6s cubic-bezier(0.4, 0, 0.2, 1), 
              opacity 0.4s ease, 
              padding 0.6s ease;
    
    @include mq.media-query(lg) {
      flex: 1.5;
      opacity: 1;
      visibility: visible;
      width: auto;
      
      background: var(--custom-color-header);
      color: var(--custom-color-header-text);

      img {
        max-width: 80%;
        min-width: 200px; // Evita que a imagem vire um "fiapo" na animação
        height: auto;
      }
    }
  }
}

//ok até aqui