@use '../../../../styles/mixins/media-query' as mq;

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.page-section {
  flex: 1;

  img {
    height: 10%;
    width: 40%;
    margin-bottom: 16px;
  }

  .router-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 16px;
  }
}

.img-section {
  flex: 1.5;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;

  background: var(--custom-color-footer);
  color: var(--custom-color-footer-text);

  
  @include mq.media-query('lg') {
    display: flex;
  }
  
}
