.mat-mdc-nav-list .mat-mdc-list-item {
    border-radius: 0;
}

.mdc-list {
  padding: 24px 0 0 0;
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px
}

a {
    border-top: 1px solid var(--custom-color-sidenav-border);
}

.active-link {
//   --mdc-list-item-label-text-color: var(--custom-color-header-text);
  
  .link-text {
    color: var(--custom-color-header-text);
  }

  mat-icon {
    color: var(--custom-color-header-text);
  }
}