<div class="example-table-container">

    <table mat-table [dataSource]="courses()" class="example-table"
           matSort matSortActive="category" matSortDisableClear matSortDirection="desc">
     
      <!-- name Column -->
      <ng-container matColumnDef="name" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <!-- url Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef >Url</th>
        <td mat-cell *matCellDef="let row">{{row.url}}</td>
      </ng-container>
      
      <!-- category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Categoria
        </th>
        <td mat-cell *matCellDef="let row">{{row.category}}</td>
      </ng-container>
      
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">{{row.status}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
          <div class="actions-container">
            <button matButton="elevated" class="save-btn-tertiary radius-btn-2px" [disabled]="formDirty()" (click)="edit.emit(row)">
              <mat-icon class="material-icons-outlined">border_color_24</mat-icon>
            </button>
            <button matButton="elevated" class="save-btn-secondary radius-btn-2px" (click)="delete.emit(row)">
              <mat-icon class="material-icons-outlined">delete_24</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

<div class="save-itens-content">
    <button matButton="elevated" class="save-btn-primary radius-btn-2px" [disabled]="!courses().length" (click)="salvar.emit(courses())">
      <mat-icon class="material-icons-outlined">save_24</mat-icon>Salvar Itens
    </button>
</div>