.example-table-container {
  position: relative;
  min-height: 350px;
  max-height: 350px;
  overflow: auto;
}

.save-itens-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.mat-column-name {
    width: 30%;
}

.mat-column-url {
    width: 30%;
}

.mat-column-category {
    width: 10%;
}

.mat-column-status {
    width: 15%;
}

.mat-column-actions {
    width: 15%;
}

.actions-container {
    display: flex;
    gap: 8px;
}

.mat-mdc-raised-button .mat-icon {
    margin: 0;
}