.container-header {
    background: none;
    border: 1px solid var(--custom-color-sub-header-border);
    color: var(--custom-color-sub-header-text);
    font-size: medium;
    font-weight: normal;
    border-left: none;
    border-right: none;
}

.content-outlet {
    margin: 16px;
}