<estudo-header></estudo-header>

<estudo-sidenav>
    <div class="container">
        <mat-toolbar class="container-header">
            @for(tree of tree(); track tree; let i = $index) {
                @if(i > 0) {
                    <p> {{ '•' }} </p>
                }
                <a [routerLink]="redirect(tree)"> {{ tree }} </a>
            }
        </mat-toolbar>
        
        <div class="container-content">
                <mat-toolbar>
                    <span>{{ lastOnetree() }}</span>
                </mat-toolbar>

                @if (isLoading()) {
                 <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                }
                
                <div class="content-outlet">
                    <router-outlet></router-outlet>
                </div>
        </div>
    </div>
</estudo-sidenav>

<estudo-footer></estudo-footer>