.container-header {
    background: none;
    border: 1px solid var(--custom-color-sub-header-border);
    color: var(--custom-color-sub-header-text);
    font-size: medium;
    font-weight: normal;
    border-left: none;
    border-right: none;

    display: flex;
    gap: 4px;
}

.content-outlet {
    margin: 16px;
}

a {
    text-decoration: none;
    color: var(--custom-color-sub-header-text);

    &:hover {
        color: var(--custom-color-btn-tertiary);
        text-decoration: underline;
    }
}