.chart-card {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboad-indicador-count {
  flex-wrap: wrap;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
