<mat-grid-list cols="4" rowHeight="100px" gutterSize="16px">

  <mat-grid-tile [colspan]="tileHeader.cols" [rowspan]="tileHeader.rows" [style.background]="tileHeader.color">
    <div class="dashboad-indicador-count">
      <estudo-card-indicador-count [category]="category.FRONT_END" [indicardorCount]="countCategoryFront()"></estudo-card-indicador-count>
      <estudo-card-indicador-count [category]="category.FRONT_END" [indicardorCount]="countCategoryBack()"></estudo-card-indicador-count>
      <estudo-card-indicador-count [category]="category.FRONT_END" [indicardorCount]="countCategoryFull()"></estudo-card-indicador-count>
    </div>
  </mat-grid-tile> 

  @for (tile of tiles(); track tile) {
    <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]=""  [style.height]="'100%'">
      <mat-card class="chart-card" appearance="outlined">
        <estudo-chart [strategy]="tile.strategy" [data]="tile.config"></estudo-chart>
      </mat-card>
    </mat-grid-tile>
  }
</mat-grid-list>