ng-container {
    text-align: center;
}

.mat-column-id {
    width: 5%;
}

.mat-column-name {
    width: 25%;
}

.mat-column-url {
    width: 25%;
}

.mat-column-category {
    width: 10%;
}

.mat-column-createdAt {
    width: 15%;
}

.mat-column-status {
    width: 10%;
}

.mat-column-actions {
    width: 10%;
}

.actions-container {
    display: flex;
    gap: 8px;
}

.mat-mdc-raised-button .mat-icon {
    margin: 0;
}

// .save-btn-content {
//     display: flex;
//     align-items: center;

//     .save-btn-primary {
//         border-radius: 2px;
//     }
// }
