<div class="login-form-container">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-field-container">
            <mat-form-field class="form-field">
                <mat-label>Insira seu usuário</mat-label>
                <input matInput formControlName="user" type="text"/>
                
                <mat-icon matSuffix>account_circle</mat-icon>

                @if (form.controls.user.hasError('required')) {
                    <mat-error>Campo obrigatório</mat-error>
                }
                
            </mat-form-field>

            <mat-form-field class="form-field">
                <mat-label>Insiria sua senha</mat-label>
                <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'" />

                <mat-icon matSuffix (click)="clickEvent($event)">{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>

                @if (form.controls.password.hasError('required')) {
                    <mat-error>Campo obrigatório</mat-error>
                }
            </mat-form-field>
            
        </div>

        @if (form.hasError('invalidCredentials')) {
            <mat-error>Usuário ou senha inválidos</mat-error>
        }
        <estudo-auth-form-buttons 
            [submitLabel]="'Entrar'"
            (submitBtn)="submit()"
            [redirectLabel]="'Criar conta'"
            (redirectBtn)="criarConta()"
            [form]="form.invalid"></estudo-auth-form-buttons>
    </form>
</div>


