.submit-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  
  .primary-btn {
    color: var(--custom-color-header);
    background: var(--custom-color-btn-primary);
  }

  .secondary-btn {
    color: var(--custom-color-header);
    background: var(--custom-color-btn-secondary);
  }

}